/* Réinitialisation CSS pour s'assurer qu'il n'y a pas de marge ou padding par défaut affectant le layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS pour le footer */
.footer {
    width: 100vw; 
    position: absolute; 
    left: 0;  
    height: 209px;
    background-color: #000000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    
}

.content {
    width: 513px;
    height: 46px;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .content {
        font-size: 12px;
        line-height: 17px;
        width: 133px;
        height: 17px;
    }

    .mobile-text {
        display: block;
    }
    
}