@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
         
body {
    font-family: 'montserrat', sans-serif;
    max-width: 1440px;
    padding: 45px 0px 0px 0px;
    gap: 50px;
    display: flex;
    margin: 0 auto; ;
    flex-direction: column;
    padding: 0 10px; ;
  }
  
 
