.housing-details {
    font-family: Montserrat;
}

ul,
li {
    list-style: none;
    margin: 0;
}

.housing-host-and-rating {
    padding-bottom: 20px;
}

.housing-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
}

.housing-location {

    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.housing-tags {
    height: 25px;
    border-radius: 8px;
    background-color: #FF6060;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    padding: 0 22px;
    line-height: 25px;
    width: auto;
    color: #FFFFFF;
}

.housing-host {
    display: flex;
    gap: 10px;
    padding-bottom: 21px;
    padding-top: 24px;
    align-items: center;
    color: #FF6060;

}



.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    
}

.housing-details {
    display: flex;
    justify-content: space-between;
}

.housing-collapses {
    display: flex;
    gap: 76px;
    padding-bottom: 50px;
}
@media screen and (max-width: 800px) {
    .housing-details {
        flex-direction: column;
    }

    .housing-host-and-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .housing-host {
        order: 2;
        padding: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: right;
    }

    .housing-title {
        font-size: 18px;
        line-height: 26px;
    }

    .housing-collapses {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 27px;
    }

    

    .housing-rating {
        gap: 7px;
    }
}
.host-picture {
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
  }