.housing-tags {
    height: 25px;
    border-radius: 8px;
    background-color: #FF6060;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 22px;
    line-height: 25px;
    color: #FFFFFF;
    width: auto;
}

.housing-tags-list {
    display: inline-flex;
    flex-direction: row;
    padding-block: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
@media screen and (max-width: 800px) {
    .housing-tags-list {
        padding-bottom: 16px;
    }
}